<header>
    <nav>
        <ul>
            <li>
                <a href="/login">Connexion</a>
                <a href="/register">Inscription</a>
            </li>
        </ul>
    </nav>
</header>