.modale {
    display: none;
    position: absolute;
    background-color: blueviolet;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    height: 320px;
    width: 600px;
}

.modale.active {
    display: block;
}